<!DOCTYPE html>
<html lang="en" class="dark:bg-black">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <div class="container mx-auto px-5 py-4">
    <nav>
      <%- include('./partials/nav'); %>
    </nav>

    <header class="mt-5"> 

      <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow h-64 card border border-sky-500 bg-base-300 rounded-box place-items-center"> <%- include('./partials/productSearchBar'); %> </div> 
          
          <div class="divider lg:divider-horizontal">OR</div> 

          <% if (favoriteProducts.length > 0) { %>
            <div class="grid flex-grow h-64 overflow-y-auto p-2 card border border-sky-500 rounded-box place-items-center"> 
              <table class="w-10/12 my-4">
                <tbody class="my-4">
                <% for (let i = 0; i < favoriteProducts.length; i++) { %>
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                            
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <a href="/product?sku=<%= favoriteProducts[i].sku %>">
                                        <img src="<%= favoriteProducts[i].imageUrl %>" alt="<%= favoriteProducts[i].productName %>" />\
                                        </a>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="/product?sku=<%= favoriteProducts[i].sku %>">
                                    <span class="font-bold"> <%= favoriteProducts[i].productName %> </span><br>
                                    <span class="text-sm opacity-50"> <%= favoriteProducts[i].sku %></span>
                                    </a>
                                </div>
            
                            </div>
                        </td>
                        <th>
                            <form action="/product/<%= favoriteProducts[i].id %>?_method=DELETE" method="POST">
                                <button class="btn btn-ghost btn-xs">Remove</button>
                            </form>
                        </th>
                    </tr>
                <% } %>
                </tbody>
              </table>
            </div>
          <% } else { %>
            <div class="grid flex-grow h-64 card border border-sky-500 rounded-box place-items-center">You don't have any sneakers saved! </div>
          <% } %>
          
        </div>
      </div>
    </header>



  </div>

</body>
</html>