<!DOCTYPE html>
<html lang="en" class="dark:bg-black">
<head>
    <%- include('./partials/head'); %>
    <title>PriceKicks</title>
</head>
<body>

    <div class="container px-5 md:mx-auto py-1 my-6">
      <nav>
          <%- include('./partials/nav'); %>
      </nav>
    </div>

    <div class="hero min-h-screen" style="background-image: url(../assets/index-hero2.jpg);">
        <div class="hero-overlay bg-opacity-80"></div>
        <div class="text-center text-neutral-content py-20 px-4">
            <div class="max-w-md mx-auto">
                <h2 class="mb-5 text-4xl font-bold leading-tight">Explore the world's leading design portfolios</h2>
                <p class="mb-5">Millions of designers and agencies around the world showcase their portfolio word on Dribble - the home to the world's best design and creative professionals.</p>
                <form action="/product" method='GET' >
                    <input type="search" placeholder="Search..." name="sku" class="w-full max-w-md mt-4 rounded-full p-4 px-6 text-black" required/>
                    <button type="submit"></button>
                </form>
            </div>
        </div>
    </div>
    
    <% if (favoriteProducts.length > 0) { %>
        <div class="px-4">
            <div class="carousel carousel-center w-full p-4 space-x-4 rounded-box">
                <% for (let i = 0; i < favoriteProducts.length; i++) { %>
                    <div class="carousel-item rounded-box flex flex-col w-60">
                        <img src="<%= favoriteProducts[i].imageUrl %>" alt="<%= favoriteProducts[i].productName %>"  class="bg-slate-200 block w-full mx-auto px-2 mb-2" />
                        <span class="block font-bold text-black flex-wrap"> <%= favoriteProducts[i].productName %> </span>
                        <span class="block text-sm opacity-50 text-slate-500"> <%= favoriteProducts[i].sku %></span>
                    </div> 
                <% } %>
            </div>
        </div>
    <% } %>
</body>
</html>