<!DOCTYPE html>
<html lang="en" class="dark:bg-black">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <div class="container mx-auto px-5 py-4">
        <header>
            <%- include('./partials/header'); %>
        </header>

        <div>
            <%- include('./partials/productSearchBar'); %>
        </div>

        <div class="overflow-x-auto">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                    <th></th>
                    
                    <% for (let i = 0; i < sizeRange.length; i++) { %>
                        <th> <%=sizeRange[i] %> </th>
                    <% } %>
                </tr>
              </thead>
              <tbody>
                <!-- StockX Row -->
                <tr>
                    <th>StockX</th>
                    <% for (let i = 0; i < sizeRange.length; i++) { %>
                        <% let correspondingStockXVariant = stockXVariants.find(variant => variant.traits.size == sizeRange[i]) %>
                        <% if (correspondingStockXVariant !== undefined) { %>
                            <% if (correspondingStockXVariant.market.bidAskData.lowestAsk == null) { %>
                                <th> -- </th>
                            <% } else { %>
                                <th> <%=correspondingStockXVariant.market.bidAskData.lowestAsk%> </th>
                            <% } %>
                        <% } else { %>
                            <th> -- </th>
                        <% } %>
                    <% } %>
                </tr>
                <!-- Goat Row -->
                <tr>
                    <th>Goat</th>
                    <% for (let i = 0; i < sizeRange.length; i++) { %>
                        <% let correspondingGoatVariant = goatVariants.find(variant => variant.size == sizeRange[i]) %>
                        <% if (correspondingGoatVariant !== undefined) { %>
                            <th> <%=correspondingGoatVariant.price%> </th>
                        <% } else { %>
                            <th> -- </th>
                        <% } %>
                    <% } %>
                 </tr>
            </table>
        </div>
        
       
    </div>

</body>
</html>