<!DOCTYPE html>
<html lang="en" class="dark:bg-black">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <div class="container mx-auto px-5 py-4">
        <header>
            <%- include('./partials/header'); %>
        </header>

        <div>
            <%- include('./partials/productSearchBar'); %>
        </div>

        <div>
            <div class="card max-w-s bg-blue-300 dark:bg-blue-900 mx-auto shadow-xl mb-4 mt-6">
                <div class="card-body">
                    <div class="overflow-x-auto w-full">
                        <table class="table w-full">
                          <tbody>
                            <% for (let i = 0; i < favoriteProducts.length; i++) { %>
                                <tr>
                                    <td>
                                        <div class="flex items-center space-x-3">
                                            <a href="/product?sku=<%= favoriteProducts[i].sku %>">
                                                <div class="avatar">
                                                    <div class="mask mask-squircle w-12 h-12">
                                                        <img src="<%= favoriteProducts[i].imageUrl %>" alt="<%= favoriteProducts[i].productName %>" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="font-bold"> <%= favoriteProducts[i].productName %> </span>
                                                    <span class="text-sm opacity-50"> <%= favoriteProducts[i].sku %></span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <th>
                                      <button class="btn btn-ghost btn-xs">Remove</button>
                                    </th>
                                </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>                        
                </div>
            </div>
        </div>

        <div class="overflow-x-auto rounded-md" >
            <div class="card lg:card-side bg-base-100 shadow-xl">
                <figure><img src="<%= goatProductMetadata.image %>" alt="<%= goatProductMetadata.name %>"/></figure>
                <div class="card-body">
                  <h2 class="card-title"> <%= goatProductMetadata.name %> </h2>
                  <p> <%= goatSku %> </p>
                  <div class="card-actions justify-end">
                    <form action="/product" method="POST">
                        <input type="hidden" id="sku" name="sku" value="<%= goatSku %>"/>
                        <input type="hidden" id="imageUrl" name="imageUrl" value="<%=  goatProductMetadata.image %>"/>
                        <input type="hidden" id="productName" name="productName" value="<%= goatProductMetadata.name %>"/>
                        <button class="btn btn-primary" type="submit">Save to Favorites</button>
                    </form>
                  </div>
                </div>
              </div>
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                    <th></th>
                    <% for (let i = 0; i < sizeRange.length; i++) { %>
                        <th class="text-center"> <%= sizeRange[i] %> </th>
                    <% } %>
                </tr>
              </thead>
              <tbody>
                <!-- StockX Row -->
                <tr>
                    <th>StockX</th>
                    <% for (let i = 0; i < sizeRange.length; i++) { %>
                        <% let correspondingStockXVariant = stockXVariants.find(variant => variant.traits.size == sizeRange[i]) %>
                        <% if (correspondingStockXVariant !== undefined) { %>
                            <% if (correspondingStockXVariant.market.bidAskData.lowestAsk == null) { %>
                                <th> -- </th>
                            <% } else { %>
                                <th> $<%= correspondingStockXVariant.market.bidAskData.lowestAsk %>.00 </th>
                            <% } %>
                        <% } else { %>
                            <th> -- </th>
                        <% } %>
                    <% } %>
                </tr>
                <!-- Goat Row -->
                <tr>
                    <th>Goat</th>
                    <% for (let i = 0; i < sizeRange.length; i++) { %>
                        <% let correspondingGoatVariant = goatVariants.find(variant => variant.size == sizeRange[i]) %>
                        <% if (correspondingGoatVariant !== undefined) { %>
                            <th> $<%= correspondingGoatVariant.price %> </th>
                        <% } else { %>
                            <th> -- </th>
                        <% } %>
                    <% } %>
                 </tr>
            </table>
        </div>
        
       
    </div>

</body>
</html>