<!DOCTYPE html>
<html lang="en" class="dark:bg-black font-poppins">
<head>
    <%- include('./partials/head'); %>
    <title>PriceKicks</title>
</head>
<body>
    <div class="container px-5 md:mx-auto my-4 2xl:my-9">
        <nav>
            <%- include('./partials/nav'); %>
        </nav>
    </div>

   
    <%- include('./partials/hero'); %>

        
    <% if (favoriteProducts.length > 0) { %>
        <div class="px-4" id="favorites">
            <div class="carousel carousel-center w-full p-4 space-x-4 rounded-box">
                <% for (let i = 0; i < favoriteProducts.length; i++) { %>
                    <div class="carousel-item rounded-box flex flex-col w-60 relative">
                        <form action="/product/<%= favoriteProducts[i].id %>?_method=DELETE" method="POST">
                            <input type="hidden" id="sku" name="sku" value="<%= goatSku %>"/>
                            <button class="btn btn-circle btn-outline absolute right-2 top-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                            </button>
                        </form>
                        <a href="/product?sku=<%= favoriteProducts[i].sku %>#product-info">
                            <img src="<%= favoriteProducts[i].imageUrl %>" alt="<%= favoriteProducts[i].productName %>"  class="bg-slate-200 block w-full mx-auto px-2 mb-2 dark:bg-black dark:outline dark:outline-1 dark:outline-slate-100"></img>
                            <span class="block font-bold text-black flex-wrap dark:text-slate-200">  <%= favoriteProducts[i].productName %> </span>
                            <span class="block text-sm opacity-50 text-slate-700 dark:text-slate-50"> <%= favoriteProducts[i].sku %> </span>
                        </a>
                    </div> 
                <% } %>
            </div>
        </div>
    <% } %>
    
    <div class="container px-5 md:mx-auto my-10" id="product-info">
        <div class="overflow-x-auto rounded-md mb-4 lg:mb-0" >
            <div class="card xl:card-side">
                <figure class="2xl:w-1/2"><img src="<%= goatProductMetadata.image %>" alt="<%= goatProductMetadata.name %>" /></figure>
                <div class="flex flex-col justify-center gap-y-6">
                    <div>
                        <h2 class="card-title text-3xl dark:text-slate-200"> <%= goatProductMetadata.name %> </h2>
                        <p class="text-lg font-normal text-slate-500 dark:text-slate-50"> <%= goatSku %> </p>
                    </div>
                    <p> <%= goatProductDescription %> </p>
                
                <div class="card-actions justify-end">
                
                    <form action="/product" method="POST">
                        <input type="hidden" id="sku" name="sku" value="<%= goatSku %>"/>
                        <input type="hidden" id="imageUrl" name="imageUrl" value="<%=  goatProductMetadata.image %>"/>
                        <input type="hidden" id="productName" name="productName" value="<%= goatProductMetadata.name %>"/>
                        <button class="btn gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                            Favorites
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <!--tab links-->
        <div class="tabs">
            <a class="tab tab-lifted tab-active" onclick="toggleTable(event, 'LowestAsk')">Lowest Ask</a> 
            <a class="tab tab-lifted"  onclick="toggleTable(event, 'Payout')">Payout
                <div class="tooltip" data-tip="To configure payout settings, go to Profile">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6 ml-1"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </div>
            </a> 
        </div>
        <div class="overflow-x-auto rounded-md">
            <!--Tab content-->
            <div id="LowestAsk" class="tabcontent">
                <%- include('./partials/price-table'); %>
            </div>

            <div id="Payout" class="tabcontent">
                <%- include('./partials/payout-table'); %>
            </div>
            
        </div>
        
    </div>

    <script src="/js/priceTableToggle.js"></script>
</body>
</html>